/* Main Widget */
QWidget {
    background-color: #000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    border-radius: 4px;
}

/* Menu Bar */
QMenuBar {
    background-color: #000;
    color: #ffdc7d;
    border: 2px solid #FFF;
    font-size: 16px;
    font-weight: 700;
}

QMenuBar::item {
    border-right: 2px solid #FFF;
    padding: 2px 10px;
}

QMenuBar::item:pressed {
    background-color: #ffdc7d;
    color: #000;
}

/* Progress Bars */
QProgressBar {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

QProgressBar#health_bar {
    border-radius: 4px;
    background-color: #ad4040;
}

QProgressBar#health_bar::chunk {
    border-radius: 4px;
    background-color: #1cb379;
}

QProgressBar#mana_bar {
    border-radius: 4px;
    background-color: #747474;
}

QProgressBar#mana_bar::chunk {
    border-radius: 4px;
    background-color: #1950b8;
}

/* Log View */
QTextEdit {
    padding: 10px 20px;
    border: 2px solid #ffffff;
}

/* Input Line */
QLineEdit {
    border: 2px solid #fff;
    background-color: #000;
    color: #FFF;
}

QLineEdit:hover {
    border: 2px solid #cccccc;
}

/* Send Button */
QPushButton#enter_button {
    padding: 5px 20px;
}

/* Generic Button */
QPushButton {
    background-color: #000;
    color: #ffdc7d;
    border: 2px solid #FFF;
    font-size: 16px;
    font-weight: 700;
}

QPushButton:hover {
    background-color: #ffdc7d;
    color: #000; 
}

/* Directions and Actions Buttons */
.cardinal_directions {
    font-size: 40px;
}

.action_buttons {
    padding: 5px 0;
}

/* Inactive Buttons */
.inactive_buttons {
    border: none;
}

.inactive_buttons:hover {
    background-color: #000;
    color: #000; 
}
